.libs/
build/
include/
modules/
*.o
*.lo
*.la
*.dep
Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.nice
config.status
config.guess
config.sub
configure
configure.ac
configure.in
acinclude.m4
aclocal.m4
autom4te.cache/
libtool
ltmain.sh
run-tests.php
*.phpt
!tests/*.phpt
*.php
!tests/*.php
*.sh
!tests/*.sh
*.log
*.exp
*.out
*.diff
*.txt
